@model VacaYAY.Models.ReturnEmployeeViewModel
@{
    Layout = null;
}
@Html.Hidden("EmployeeUID", Model.EmployeeUID)
<div class="container-fluid">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Employee Name: @Model.EmployeeName</li>
            <li class="list-group-item">Employee Surname: @Model.EmployeeSurname</li>
            <li class="list-group-item">Employee Backlog days: @Model.EmployeeBacklogDays</li>
        </ul>
    </div>
</div>

