@model VacaYAY.Models.ReturnRequestViewModel
@{
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion">
                <span class="text-align-left">@Model.RequestNumber</span>
                <span class="text-align-right>@Model.RequestNumberOfDays</span>
            </a>
        </h4>
    </div>
</div>
<div id="collpase1" class="panel-collapse collapse in">
    nesto drugo bla blab bla
</div>