@model List<VacaYAY.Models.ReturnRequestViewModel>
@{
    Layout = null;
}
@Html.Hidden("pageCount", 1)
@Html.Hidden("pageOffset", 0)
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" id="currentUser"></div>
        <div class="col-md-6">
            <div id="accordion">
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script src="~/Scripts/AdminView/admin.scripts.js"></script>
<script>
    var requestUrl = '@Url.Action("GetRequests", "Request")';
    var employeeUrl = '@Url.Action("FindCurrentEmployee", "Employee")';
    StartUp(requestUrl, employeeUrl);
</script>
