
<div class="row">
    @if (!Request.IsAuthenticated)
    {
        <h2 class="jumbotron-fluid">Welcome</h2>
        <p>
            Pleaase login to your account.
        </p>
    }
    else
    {
        @Html.Partial("HomeView");
    }
</div>
