<div class="container-fluid">
    <div class="row">
        <div class="col-6" id="userRequests">
            <div id="accordion" data="2">               
            </div>
        </div>
        <div class="col-6" id="userContracts">
            <div id="contractAccordion">

            </div>
        </div>
        <div class="col-12" id="request"></div>
    </div>
</div>
<script>
    $(document).ready(UserStartUp());
</script>